@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h6>Por el momento solo esta en funcionamiento para el administrador en estos días habilitaré la funcionalidad para los propietarios. </h6>
</div>
